body {
  background-color: #f2f2f2;
  font-size: 1.25rem;
  line-height: 1.5;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
.myclass {
  background-color: #006400;
}
.archive {
  margin: 1em auto;
  padding: 30px 50px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 2px #ddd;
}
.archive .post-archive {
  list-style: none;
  padding: 0;
}
.archive .post-archive .post-item {
  margin: 5px 0;
}
.archive .post-archive .post-item .post-date {
  display: inline-block;
  margin-right: 10px;
  color: #bababa;
}
.archive .post-archive .post-item .post-title {
  color: #368ccb;
  text-decoration: none;
}
#bannerbackgroundimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: url("images/background.jpg");
  background-size: cover;
  z-index: -1;
}
#bannerbackgroundheight {
  height: 200px;
  background-color: #f00;
}
#navbackgrounddiv {
  float: none;
  text-align: center;
  height: 80px;
}
#navlistdiv {
  float: right;
  margin-right: 30px;
  height: 60px;
}
#navhorizontal {
  text-align: center;
  height: 60px;
  display: flex;
}
#navaid {
  color: #fff;
  display: flex;
  padding: 0px;
  text-decoration: none;
  height: 60px;
}
.page-nav {
  padding: 0.5em 0;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 2px #ddd;
}
.page-nav .prev,
.page-nav .next,
.page-nav .page-number {
  padding: 0.1em 0.5em;
}
.page-nav .prev {
  float: left;
}
.page-nav .next {
  float: right;
}
.page-nav a {
  color: #777;
  text-decoration: none;
}
.page-nav a:hover {
  color: #368ccb;
}
.post {
  margin: 1em auto;
  padding: 30px 50px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 2px #ddd;
}
.postsdddd .post:first-child {
  margin-top: 0;
}
.postsdddd .post-title {
  font-size: 1.5em;
}
.postsdddd .post-title .post-title-link {
  color: #368ccb;
  text-decoration: none;
}
.postsdddd .post-content a {
  color: #368ccb;
  text-decoration: none;
}
.postsdddd .post-meta {
  color: #bababa;
}
